
.linkbtn {
	border-radius: 15px;
	border: none;
	color: #FFFFFF;
	text-align: center;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 10% 0 0 0;
}
.linkbtn1 {
	border-radius: 15px;
	border: none;
	color: #FFFFFF;
	text-align: center;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 10% 5% 20% 5%;
}

.linkbtn:hover span {
	font-size: 1em;
}
.linkbtn1:hover span {
	font-size: 1em;
}
html {
	scroll-behavior: smooth;
	background-color: #0091ff;
}
.container {
	max-width: 85%;
	margin: auto;
}
#row article {text-align: center;}
#header {
	min-height: 80vh;
	margin-top: 2vh;
	margin-bottom: 2vh;
	background: #0091ff;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
}
header {
	height: 100vh;
	background: #0091ff;
}
.shadow {
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}
#header>div {

}
#logo {
	width: 100%;
}
#logo>img {
	width: 110%;
	margin: 0 -5% 0 -5%;
}
#teaser {
	text-align: center;
}
button {
	font: 1em Tahoma;
	color: #fff;
	border: 0;
	outline: 0;
	border-radius: 30px;
	cursor: pointer;
}
#teaser button:hover { 
	background: rgba(255,255,255,.8);
	color: #111;
}
h1, h2, h3, h4 {
	text-align: center;
	font-family: 'Inter', sans-serif;
	color: #fff!important;

}
.links{
	width:100%;
}
.linkbtn, .linkbtn1 {
	color: #fff;
	background-color: white;
	padding: 10px 20px;
	cursor: pointer;
	width: 10%;	
	line-height: 1.25rem;
	min-width: 8.5rem;
}
.vertical-line{ 
	width: 90%; 
	margin-bottom: 70px;
	border-top: 0; 
	border-color: white; }
.vertical-line1{
	border: 0.1px dashed #fff!important; 
	width: 80%; 
	margin: auto;
	margin-top: 9vh; 
	transform: rotate(0deg); 
	border-color: white; }
h1 {
	font-size: 1.30em;
	color: #fff!important;
}
h2 {
	font-size: 1.5em;
	letter-spacing: 6px;
	text-transform: uppercase;
}
h3 {
	font-size: 1em;
	font-weight: normal;
}
h4 {
	font-size: 1.5em;
	margin: 25px 0;
}
p {font: 1em/1.2 'Montserrat', sans-serif; color: #fff!important;} 
.boz1 { color: #828181; }
.boz2 { color: #b7b3b3; }
#arc hr {
	width: 45px;
	margin: 12px auto;
	border: 0;
	border-top: 2px solid #ae475e;
}
section {padding: 45px 0;}
#rows {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: right;
}
#arc {
	background: #333333;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#arc div{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
#arc section {
	display: flex;
	margin: 0 auto;
	padding: 4px;
}
#arc section div {
	width: 100%;
	display:flex;
	flex-direction: column;
	align-items: start;
}
@media only screen and (min-width: 1240px) {
	#header {
		height: 80vh;
		flex-direction: row-reverse;
		margin-top: 10vh;
		margin-bottom: 10vh;
	}
	header {
		height: 100vh;
	}
	.container {
		max-width: 1300px;
		margin: auto;
	}
	#teaser{
		width: 100%;
	}
	h1 {
		width: 100%;
		text-align: left;
		font-size: 2.75rem;
		line-height: 3rem;
		padding: 0 100px 0 100px;
		white-space: nowrap;
	}
	.vertical-line{ 
		width: 100%; 
		margin-top: 100px; 
		margin-bottom: 100px;;
		margin-left: -200px;
		margin-right: -170px;
		transform: rotate(90deg); 
		border-color: white; 
	}
	.vertical-line1{ 
		width: 80%; 
		margin: auto;
		margin-top: 10vh;  
		transform: rotate(0deg); 
		border-color: white; 
	}
	#logo {	order: 0; width:100%;}
	#logo>img {min-width: 100%;}
	#arc {display: flex;}
	#arc>div {
		width: 100%;
		margin-top: 0;
	}
	#row {
		flex-direction: column;
		margin: 20px;
	}
	#row article {
		padding: 40px 50px 50px 50px;
	}
	.linkbtn1 {
		margin: 10% 5% 0 5%;
	}
	
}
@media (min-width: 768px) and (max-width: 1024px) {
	header {
		height: 100vh;
	}
	.container {
		max-width: 90%;
		margin: auto;
	}
	#header {
		min-height: 80vh;
		flex-direction: column;
		margin-bottom: 10vh;
	}
	.vertical-line{ 
		width: 80%; 
		transform: rotate(0deg); 
		border-color: white; 
	}
	h1 {
		width: 100%;
		text-align: center;
		font-size: 2.75rem;
		line-height: 3rem;
		padding: 0 100px 0 100px;
		white-space: nowrap;
	}
	button {
		display: block;
	}
	.linkbtn {
		margin: 10% auto 10% auto;
	}
	.linkbtn1 {
		margin: 5% auto 10% auto;
	}
	#logo>img {min-width: 100%;}
	.vertical-line{ 
		width: 80%;
		transform: rotate(0deg); 
		border-color: white; 
	}
	#logo>img {min-width: 100%;}
}